<!DOCTYPE html>
<html>


<body>



<div class="sidenav">
  <a href="../">Homepage</a>
  <a href="../Books.html">Books</a>
</div>
    

<div class="main">
  <h1>Detritus Archives</h1>
    <h2>Skyward Book 2: Starsight</h2>
    <aside>
    <p> All her life, Spensa has dreamed of becoming a pilot. Of proving shes a hero like her father. She made it to the sky, but the truths she learned about her father were crushing. The rumors of his cowardice are true, he deserted his flight during battle against the Krell. Worse, though, he turned against his team and attacked them.
<br> <br>
      Spensa is sure theres more to the story. And shes sure that whatever happened to her father in his starship could happen to her. When she made it outside the protective shell of her planet, she heard the stars, and it was terrifying. Everything Spensa has been taught about her world is a lie.</p>
    </aside>
    <img src="../Starsight.jpg" alt="Skyward" width="400" height="500"><p> </p>

</div>

</body>



</html>