<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../lab1.css">
  </head>
<body>



<div class="sidenav">
  <a href="../">Homepage</a>
  <a href="../Books.html">Books</a>
</div>
    

<div class="main">
  <h1>Detritus Archives</h1>
    <h2>Skyward Book 3:Cytonic</h2>
    <aside>
      <p>Spensas life as a Defiant Defense Force pilot has been far from ordinary. She proved herself one of the best starfighters in the human enclave of Detritus, and she saved her people from extermination at the hands of the Krell, the enigmatic alien species that has been holding them captive for decades. Whats more, she traveled light-years from home as an undercover spy to infiltrate the Superiority, where she learned of the galaxy beyond her small, desolate planet home.</p>
      </aside>
    <img src="../Cytonic.jpg" alt="Skyward" width="400" height="500"><p> </p>
</div>

</body>



</html>