<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../lab1.css">
  </head>

<body>



<div class="sidenav">
    <a href="../">Homepage</a>
    <a href="../Books.html">Books</a>
</div>
    

<div class="main">
    <h1>Detritus Archives</h1> 
    <p> Skyward book 1</p>
    <aside>
      <p> Spensas world has been under alien attack for decades. Pilots are the heroes of whats left of humanity, and becoming a pilot is Spensas dream. Ever since she was a little girl, Spensa has dreamed of soaring skyward and proving her bravery. But her fathers legacy stands in the way, he was a pilot who was killed for desertion years ago, branding Spensa the daughter of a coward, and making her chances of attending flight school slim to none.</p>
    </aside>
    <img src="../Skyward.jpg" alt="Skyward" width="400" height="500">
    
</div>

</body>



</html>