<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/lab1.css">
  </head>
  
<body>



<div class="sidenav">
    <a href="/">Homepage</a>
    <a href="#">Books</a>
</div>
    

<div class="main">
    <h1>Detritus Archives</h1>
    <h2>Welcome to the books pages</h2>
    <p> </p>
</div>

<div class="booklist">
  <a href="books_3/book_1.html"> <img src="/Skyward.jpg" alt="Skyward" width="200" height="250"> </a> 
  <aside>
  <a href="books_3/book_1.html"><h1>Skyward</h1></a><br>  
  </aside>
</div>
<br>
<div class="booklist"> 
  <a href="books_3/book_2.html"> <img src="/Starsight.jpg" alt="Starsight" width="200" height="250" > </a>
  <aside>
  <a href="books_3/book_2.html" text-align="center"><h1>Starsight</h1></a><br>
  </aside>
</div>
<br>
  <div class="booklist">
      <a href="books_3/book_3.html"> <img src="/Cytonic.jpg" alt="Cytonic" width="200" height="250" > </a> 
    <aside>
      <a href="books_3/book_3.html" ><h1>Cytonic</h1></a><br>
    </aside>
    </div>
</body>



</html>